# Rules para Cursor
Siempre usar español para la interfaz del usuario.
El código técnico, funciones y variables debe ser 100% en Inglés.
No inventar variables para plantillas. Consultar siempre a la fuente de la verdad.
